<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>
    <div class="nav_container">
        <div class="logo">logo</div>
        <div class="menu">
            menu
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="active_users" id="active_users">
                    <div class='${email}-user'>
                        <h5>user123</h5>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="message_history" id="message_history">
                    <!-- todo Incoming message -->
                    <div className="incoming_message">
                        <p>hello world</p>
                        <div className="user_id">
                            <span>user123</span>
                        </div>
                    </div>

                    <!-- todo Outgoing message -->
                    <div className="outgoing_message">
                        <p>how are you</p>
                        <div className="time">
                            <span>12:00 pm</span>
                        </div>
                    </div>
                </div>
                <div class="user_typing" id="user_typing"></div>
            </div>
        </div>
        <div class="form_container">
            <form id="user_form">
                <input type="text" name="message" id="user_message" placeholder="Type message..." autocomplete="off">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="/js/user_socket.js" type="text/javascript"></script> -->
</body>

</html>