<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' data: gap: /js/scripts.js 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"> -->
    <title>Chat App</title>
    <link rel="icon" href="/img/chatapp_logo.svg" type="image/svg" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>
    <div class="nav_container">
        <div class="logo">
            <img src="/img/chatapp_logo.svg" alt="ChatAppLogo" width="40">
        </div>
        <div class="profile_img" id="profile_img">
            <img src="/img/chatapp_logo.svg" alt="ChatAppLogo" width="40">
        </div>
        <div class="profile hidden" id="profile_menu">
            <div class="user_profile">
                <div class="user_detials">
                    <span class="user_img">
                        <img src="/img/chatapp_logo.svg" alt="ChatAppLogo" width="45">
                    </span>
                    <span class="user_info">
                        <h3>Username</h3>
                        <p>example@gmail.com</p>
                    </span>
                </div>
                <div class="user_manage">
                    <a href="#">Manage Your account</a>
                </div>
            </div>
            <a href="#" class="user_logout">
                <p>Logout</p>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="active_users" id="active_users">
                    <div class='${email}-user'>
                        <h5>user123</h5>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="message_history" id="message_history">
                    <!-- todo Incoming message -->
                    <div className="incoming_message">
                        <p>hello world</p>
                        <div className="user_id">
                            <span>user123</span>
                        </div>
                    </div>

                    <!-- todo Outgoing message -->
                    <div className="outgoing_message">
                        <p>how are you</p>
                        <div className="time">
                            <span>12:00 pm</span>
                        </div>
                    </div>
                </div>
                <div class="user_typing" id="user_typing"></div>
            </div>
        </div>
        <div class="form_container">
            <form id="user_form">
                <input type="text" name="message" id="user_message" placeholder="Type message..." autocomplete="off">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <a href="/signin">Signin</a>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/user_socket.js" type="text/javascript"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>