<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="icon" href="/img/chatapp_logo.svg" type="image/svg" sizes="16x16">
    <link rel="stylesheet" href="/css/signin.css" type="text/css">
</head>

<body>
    <div class="signin_container">
        <img src="/img/chatapp_logo.svg" alt="ChatApp" width="106.99">
        <form action="/signin" method="post" enctype="application/x-www-form-urlencoded" class="signin_form">
            <input type="text" name="uname" id="uname" placeholder="Enter Username" autocomplete="off">
            <input type="email" name="email" id="email" placeholder="Enter Email">
            <input type="password" name="pwd" id="pwd" placeholder="Enter Password">
            <button type="submit">Sign In</button>
        </form>
    </div>
</body>

</html>