body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

.nav_container {
  height: 7%;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_container .logo,
.menu {
  margin: auto 4%;
}
