body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.nav_container {
  height: 9%;
  background-color: #e6f4fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav_container .logo,
.profile_img {
  margin: auto 4%;
  cursor: pointer;
}

.nav_container .profile {
  position: absolute;
  right: 3%;
  top: 119%;
  width: 25%;
  /* height: 144px; */
  background-color: white;
  padding: 1%;
  border-radius: 1vmax;
  box-shadow: 4px 9px 9px 6px rgba(71, 71, 71, 0.336);
  transition: all 1s;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(120%);
}

.profile .user_logout {
  margin-top: 3%;
  background-color: red;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3% 37%;
  border-radius: 5vmax;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

.profile .user_logout i {
  line-height: 5%;
}

.nav_container .profile .user_profile {
  background-color: #d9d9d9;
  border-radius: 1vmax;
  padding: 4%;
}

.nav_container .profile .user_profile .user_detials {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.user_detials .user_img {
  margin: auto 3%;
}

.user_detials .user_info h3,
p {
  margin: 0;
  padding: 0;
}

.nav_container .profile .user_profile .user_manage {
  width: 100%;
  text-align: center;
  margin: 5% auto;
}
.nav_container .profile .user_profile .user_manage a {
  background-color: #838383;
  border-radius: 2vmax;
  padding: 4% 10%;
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*!---------- Chat Section ---------------*/
.chat_container {
  height: 100vh;

  display: flex;

  align-items: center;
}

.chat_container .users_box {
  background-color: #006f5a;
  width: 20%;
  height: 100vh;
  position: relative;
}

.users_box .add_friend {
  position: absolute;
  width: 100%;
  font-size: 1.2rem;
  padding: 7.5% 0;
  background-color: #00bc57;

  bottom: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.add_friend p {
  color: white;
  margin-right: 3%;
}

.add_friend i {
  margin-right: 3%;
  color: #00ff47;
}
.active_users .current_user {
  background-color: white;
  margin: 5%;
  padding: 4%;
  border-radius: 5vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current_user .connection {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.current_user .connection.online {
  background-color: lime;
}

.current_user .connection.offline {
  background-color: red;
}

.chat_container .chat_box {
  height: 100vh;
  width: 80%;
}

.chat_box .message_history {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: -11.7%;
  justify-content: flex-end;
  flex-direction: column;

  /* position: relative; */
}

.message_history .chat_incoming {
  margin: 0.5%;
  text-align: start;
}

.chat_incoming .incoming_message {
  float: left;
  width: fit-content;
  padding: 1% 2%;
  border-radius: 10px;
  background-color: #9aefe5;
}
.message_history .chat_outgoing {
  margin: 0.5%;
  text-align: end;
}
.chat_outgoing .outgoing_message {
  float: right;
  width: fit-content;
  padding: 1% 2%;
  border-radius: 10px;
  background-color: #9aefa2;
}

.chat_box .form_container {
  width: 100%;
  /* height: 8%; */
  padding: 0.5% 0;
  position: fixed;
  bottom: 0;
  background-color: #d9d9d9;
}

.form_container input {
  width: 75%;
  height: 3rem;
  border: none;
  outline: none;
  margin-left: 0.3%;
  background-color: transparent;
  font-size: 1.3rem;
}

.form_container button {
  padding: 0.7%;
  color: #06cc0d;
  border-radius: 50%;
  border: none;
  font-size: 1.3rem;
  background-color: #a9fdb7;
}

/* .friends_container {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(121, 121, 121, 0.671);
  display: flex;
  justify-content: center;
  padding-top: 8%;
  transform: translateY();
  transition: all 1s;
}

.hidden_friend {
  opacity: 0;
  display: none;
}

.show_friend {
  display: flex;
  opacity: 1;
} */

.add_container {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 10;
  background-color: white;
  display: flex;
  width: 65%;
  height: 60%;
  border-radius: 2vmax;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2%;
  transition: all 0.4s linear;
}
.show_addcontainer {
  transform: scale(1);
  transform: translateX(-50%);
  opacity: 1;
}

.hidden_addcontainer {
  transform: scale(0);
  opacity: 0;
  transform: translateX(100%);
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: rgba(121, 121, 121, 0.671);
  transition: all 0.2s linear;

  backdrop-filter: blur(3px);
}

.show_overlay {
  transform: scale(1);
  opacity: 1;
}

.hidden_overlay {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

/* .show_friend {
  
} */

.add_container .search_container {
  width: 100%;
  margin: 2% auto;
  text-align: center;
}

.search_container i {
  font-size: 1.5rem;
  margin-top: 5px;
}

.search_container input {
  width: 70%;
  height: 45px;
  text-align: center;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.add_container .show_fri {
  width: 100%;
  height: 73%;
  margin: 0 3%;
  background-color: #d9d9d9;
  border-radius: 1vmax;
}

.show_fri .show_user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1% 2%;
  border-radius: 5vmax;
  padding: 1% 0;
  transition: all 0.3s;
}

.show_fri .show_user:hover {
  background-color: white;
}

.show_user .show_user_info {
  display: flex;
  width: 80%;
  justify-content: center;
  font-weight: bold;
}

.show_user .show_user_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.show_user_button .add_button {
  color: black;
  margin-right: 30%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
}

.show_user_button .message_button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}

.show_user_button .add_button:hover {
  color: #06cc0d;
}

.show_user_button .message_button:hover {
  color: #266efb;
}
